@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;500&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --main-color: #2e3092;
}
header{
    box-shadow: 0 0 5px #959494;
}
.contain{
    padding: 0 9%;
}
nav a::before{
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    transition: width .3s linear .1s;
}
nav a:hover::before{
    width: 100%;
}
::-webkit-scrollbar{
    display: none;
}
h1{
    background-image: linear-gradient(to right, red, blue);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
footer{
    background-image: linear-gradient(to right, #000000ad , #000000ad), url(./img/footer.jpg);
}
#cart{
    transition: right .5s linear;
    right: -100%;
}
#cart.open{
    right: 0;
}
.icons i:hover{
    color: red;
}
.icons i:active{
    transform: scale(0.9);
}
.icons i:nth-child(2)[data-quantity]::after{
    content: attr(data-quantity);
    position: absolute;
    top: 0;
    right: -10px;
    width: 20px;
    height: 20px;
    background: #ff0000;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-family: 'Poppins';
    display: grid;
    place-items: center;
}
#search input::placeholder{
    color: #ff0000;
}

#search.open,
#detailProduct.open{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: all .3s ease;
}
.error{
    border-bottom: 3px solid red !important;
}
.show{
   opacity: 1 !important;
}
@keyframes fadeIn{
    0%{
        transform: scale(.5) translateY(-10px);
    }
}
@keyframes countdown{
    to{
        width: 0%;
    }
}
@keyframes scrollShow{
    0%{
        transform: translateX(-100%);
    }
    30%{
        transform: translateX(10%);
    }
    60%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(10px);
    }
   
}
@media screen and (max-width: 1200px){
    #detailProduct{
        padding: 0 5px;
    }
}
@media screen and (max-width: 1040px){
    .contain{
        padding: 0 5%;
    }
    #products{
        grid-template-columns: repeat(3, 1fr);
    }
    #detailProduct h3{
        font-size: 33px;
        line-height: 1.3;
    }
    #detailProduct h5{
        font-size: 14px;
    }
    #detailProduct h4{
        font-size: 28px;
    }
    #detailProduct li{
        font-size: 15px;
    }
    #detailProduct > div{
        max-height: 500px;
    }
}
@media screen and (max-width: 950px){
    .contain{
        padding: 0 2%;
    }
    nav a{
        margin: 0 10px !important;
    }
    footer{
        margin-top: 10px !important;
    }
    #sort{
        width: 200px;
    }
    #detailProduct > div{
        max-height: 480px;
    }
}
@media screen and (max-width: 820px){
    #menu{
        display: block;
    }
    nav{
        position: absolute;
        top: -100%;
        left: 0;
        background: #fff;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        transition: all .2s linear; 
    }
    nav.open{
        top: 100%;
    }
    nav a{
        margin: 0 25px;
    }
    #infoImg{
        max-width: 300px;
    }
    footer{
        grid-template-columns: repeat(2,1fr) !important;
    }
    #sortIcon{
        display: block;
    }
    /* Product */
    #sort{
        position: fixed;
        top: 0;
        left: -100% !important;
        width: 250px;
        box-shadow: 0 3px 10px #000;
        border: none;
        height: 100%;
        z-index: 100;
        background: #fff;
        overflow-y: scroll;
        transition: left .5s linear;
    }
    #sort.open{
        left: 0 !important;
    }
    #products{
        margin-bottom: 20px !important;
    }
    #search h1{
        font-size: 55px;
    }
    #detailProduct h3{
        font-size: 27px;
        margin: 5px 0;
    }
    #detailProduct h5{
        font-size: 12px;
    }
    #detailProduct h4{
        font-size: 21px;
        margin: 5px 0;
    }
    #detailProduct > div > div:nth-child(2) button{
        width: 180px;
        height: 35px;
        font-size: 14px;
    }
    #detailProduct > div{
        max-height: 400px;
    }
    #pay{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
@media screen and (max-width: 650px){
    #infoImg{
        max-width: 250px;
    }
    #products > div h4{
        font-size: 15px;
    }
    #search input{
        width: 450px;
        height: 60px;
        font-size: 18px !important;
    }
    #search h1{
        font-size: 50px;
    }
    #search button{
        width: 140px;
        height: 48px;
        font-size: 18px;
    }
    #account > form{
        box-shadow: none;
    }
    #detailProduct h3{
        font-size: 26px;
    }
    #detailProduct h5{
        font-size: 10px;
    }
    #detailProduct h4{
        font-size: 20px;
    }
    #detailProduct li{
        font-size: 14px;
    }
    #detailProduct li i{
        font-size: 16px;
        line-height: 1.2;
    }
    #detailProduct > div > div:nth-child(2){
        padding: 10px;
    }
    #detailProduct > div > div:nth-child(2) button{
        width: 180px;
        height: 35px;
        font-size: 14px;
    }
    #detailProduct > div{
        max-height: 380px;
    }
}
@media screen and (max-width: 510px){
    nav{
        overflow-y: scroll;
        white-space: nowrap;
        padding: 10px 0;
    }
    #menu{
        font-size: 32px;
        margin: 0 5px;
    }
    header{
        flex-direction: row-reverse;
    }
    .icons{
        position: fixed;
        left: 0;
        bottom: 0;
        background: #fff;
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
        box-shadow: -1px 0 5px #aaa;
    }
    #infoImg{
        max-width: 400px;
        float: none;
        margin: auto;
    }
    footer{
        padding-bottom: 100px !important;
        grid-template-columns: repeat(1,1fr) !important;
    }
    #products{
        grid-template-columns: repeat(2, 1fr);
    }
    #products > div h3{
        font-size: 15px;
        margin-bottom: 8px;
    }
    #sortIcon{
        bottom: 5%;
    }
    #search input{
        width: 390px;
        height: 55px;
        margin-bottom: 40px;
        font-size: 16px !important;
    }
    #search h1{
        font-size: 46px;
    }
    #search button{
        width: 130px;
        height: 46px;
        font-size: 18px;
    }
    #detailProduct{
        padding: 0;
    }
    #detailProduct > div{
        flex-direction: column !important;
        max-height: 90vh;
        overflow-y: scroll;
        box-shadow: none;
    }
    #detailProduct div > div{
        width: 100%;
    }
    #detailProduct > div > div:nth-child(1){
       height: 50%;
    }
    #detailProduct > div > div:nth-child(2){
       padding: 0 10px 50px;
    }
    #detailProduct h5{
        font-size: 14px;
        margin-top: 10px;
    }
    #detailProduct h3{
        font-size: 25px;
        line-height: 1.3;
        margin: 6px 0;
    }
    #detailProduct h4{
        font-size: 21px;
        margin: 5px 0;
    }
    #detailProduct > div > div:nth-child(2) button{
        width: 200px;
        height: 40px;
        font-size: 14px;
        margin: 20px 0;
    }
    #detailProduct li{
        font-size: 14px;
        line-height: 1.6;
    }
    #detailProduct li i{
        font-size: 18px;
    }
}
@media screen and (max-width: 430px){
    #products > div h4{
        padding: 12px 8px 10px;
    }
    #cart{
        max-width: none;
    }
    #search input{
        width: 340px;
        height: 50px;
        font-size: 15px !important;
        padding: 15px;
    }
    #search h1{
        font-size: 42px;
    }
    #search button{
        width: 125px;
        height: 44px;
        font-size: 16px;
    }
    #detailProduct > div > div:nth-child(2) button{
        margin: 20px 0 50px;
    }
}
@media screen and (max-width: 380px){
    #search input{
        width: 320px;
        height: 48px;
        font-size: 15px !important;
        padding: 15px;
        margin-bottom: 30px;
    }
    #search button{
        width: 120px;
        height: 42px;
        font-size: 15px;
    }
    #search i{
        font-size: 40px;
        right: 15px;
    }
    #detailProduct > div > div:nth-child(1){
        height: 40%;
    }
    #detailProduct > div > div:nth-child(2) button{
        width: 180px;
        height: 38px;
    }
    #pay h3{
        font-size: 14px;
    }
    #pay h4, #pay span{
        font-size: 12px;
    }
    #pricePay span{
        font-size: 14px;
    }
}
@media screen and (max-width: 340px){
    #products > div h4{
        padding: 10px 6px 8px;
        font-size: 14px;
    }
    #products > div h3{
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 5px;
    }
    #products > div i{
        bottom: 5px;
        font-size: 26px;
    }
    #search input{
        width: 290px;
        height: 46px;
        font-size: 15px !important;
        padding: 15px;
    }
    #search h1{
        font-size: 40px;
    }
    #search button{
        width: 110px;
        height: 40px;
        font-size: 15px;
    }
    #detailProduct h3{
        font-size: 21px;
    }
    #detailProduct h4{
        font-size: 18px;
    }
}